<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Weather Forecast</title>
</head>
<body>

<div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>date</th>
            <th>summary</th>
            <th>sunrise</th>
            <th>sunset</th>
            <th>precipitation</th>
            <th>temperature</th>
            <th>wind speed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weeklyForecast : ${weeklyForecasts}">
            <td th:text="${weeklyForecast.date}">date</td>
            <td th:text="${weeklyForecast.summary}">summary</td>
            <td th:text="${weeklyForecast.sunrise}">sunrise</td>
            <td th:text="${weeklyForecast.sunset}">sunset</td>
            <td th:text="${weeklyForecast.precipProbability}">precipitation</td>
            <td th:text="${weeklyForecast.temperatureMax}">temperature</td>
            <td th:text="${weeklyForecast.windSpeed}">wind speed</td>
            <br/>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>