<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Authors</title>
</head>
<body>

<div fragment="content">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>date</th>
            <th>summary</th>
            <th>sunrise</th>
            <th>sunset</th>
            <th>precipProbability</th>
            <th>temperatureMax</th>
            <th>windSpeed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weeklyForecast, iterationStatus : ${weeklyForecasts}">
            <td th:text="${iterationStatus.count}">1</td>
            <td th:text="${weeklyForecast.date}">date</td>
            <td th:text="${weeklyForecast.summary}">summary</td>
            <td th:text="${weeklyForecast.sunrise}">sunrise</td>
            <td th:text="${weeklyForecast.sunset}">sunset</td>
            <td th:text="${result.precipProbability}">precipProbability</td>
            <td th:text="${result.temperatureMax}">temperatureMax</td>
            <td th:text="${result.windSpeed}">windSpeed</td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>